@charset "UTF-8";
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  font-weight: inherit;
  font-size: inherit;
  border-color: inherit;
  color: inherit;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li,
ol {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Playfair Display";
  src: url(../fonts/PlayfairDisplay-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
:root {
  --base-family: "Raleway", sans-serif;
  --second-family: "Playfair Display", serif;
  --third-family: "Roboto", sans-serif;
  --color-dark: #242b33;
  --color-accent: #d4c17f;
  --color-ligth: #ffffff;
  --coior-footer-bg: #2d343c;
  --color-placeholder: #bebebe;
  --color-privacy: #e7e7e7;
  --container-width: 1110px;
  --container-padding-x: 15px;
  --transition-duration: 0.3s;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--base-family);
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--color-dark);
  color: var(--color-ligth);
}
@media (max-width: 767px) {
  body {
    font-size: calc(14px + 3.4 * (100vw - 430px) / 1440);
  }
}
@media (min-width: 767px) {
  body {
    font-size: calc(14px + 2 * 0.0694444444vw);
  }
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

@media (hover: hover) {
  a:hover {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  a:active {
    color: var(--color-accent);
  }
}

h1,
.h1 {
  font-family: var(--second-family);
  color: var(--color-accent);
  line-height: 1.3333333333;
}
@media (max-width: 767px) {
  h1,
  .h1 {
    font-size: calc(30px + 22.95 * (100vw - 430px) / 1440);
  }
}
@media (min-width: 767px) {
  h1,
  .h1 {
    font-size: calc(30px + 13.5 * 0.0694444444vw);
  }
}

h2,
.h2 {
  font-family: var(--second-family);
  color: var(--color-accent);
  font-weight: 700;
  line-height: 1;
}
@media (max-width: 767px) {
  h2,
  .h2 {
    font-size: calc(28px + 10.2 * (100vw - 430px) / 1440);
  }
}
@media (min-width: 767px) {
  h2,
  .h2 {
    font-size: calc(28px + 6 * 0.0694444444vw);
  }
}

h3,
.h3 {
  font-weight: 400;
  line-height: 1;
}
@media (max-width: 767px) {
  h3,
  .h3 {
    font-size: calc(18px + 7.65 * (100vw - 430px) / 1440);
  }
}
@media (min-width: 767px) {
  h3,
  .h3 {
    font-size: calc(18px + 4.5 * 0.0694444444vw);
  }
}

@media (max-width: 767px) {
  h4,
  .h4 {
    font-size: calc(18px + 3.4 * (100vw - 430px) / 1440);
  }
}
@media (min-width: 767px) {
  h4,
  .h4 {
    font-size: calc(18px + 2 * 0.0694444444vw);
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.main {
  flex: 1 1 auto;
}

.ibg {
  position: relative;
}
.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

.header__burger {
  position: relative;
  width: 30px;
  height: 18px;
}
.header__burger-icon, .header__burger::after, .header__burger::before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: var(--color-ligth);
  transition: var(--transition-duration);
}
.header__burger::before {
  content: "";
  top: 0;
}
.header__burger::after {
  content: "";
  bottom: 0;
}
.header__burger-icon {
  top: 50%;
  transform: scale(1) translateY(-50%);
}

.header__burger.active .header__burger-icon {
  transform: scale(0) translateY(-50%);
}

.header__burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translateY(-50%);
}

.header__burger.active::after {
  top: 50%;
  transform: rotate(45deg) translateY(-50%);
}

.grid {
  --gridColumns: 1;
  display: grid;
  grid-template-columns: repeat(var(--gridColumns), 1fr);
}
.grid_2 {
  --gridColumns: 2;
}
.grid_3 {
  --gridColumns: 3;
}
.grid_4 {
  --gridColumns: 4;
}
.grid_5 {
  --gridColumns: 5;
}
.grid_6 {
  --gridColumns: 6;
}
.grid_7 {
  --gridColumns: 7;
}
.grid_8 {
  --gridColumns: 8;
}
.grid_9 {
  --gridColumns: 9;
}
.grid_10 {
  --gridColumns: 10;
}
.grid_11 {
  --gridColumns: 11;
}
.grid_12 {
  --gridColumns: 12;
}

.top {
  position: relative;
  background: linear-gradient(180deg, rgb(36, 43, 51) 11.979%, rgba(45, 52, 60, 0.38) 51.042%, rgb(36, 43, 51) 92.188%);
}
.top__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.top__inner {
  min-height: 840px;
  padding-top: 292px;
  padding-bottom: 74px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top__title {
  text-align: center;
}
.top__link-next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  aspect-ratio: 1;
  color: var(--color-accent);
  margin-inline: auto;
  margin-bottom: 115px;
}
@media (hover: hover) {
  .top__link-next:hover {
    color: var(--color-ligth);
  }
}
@media (hover: none) {
  .top__link-next:active {
    color: var(--color-ligth);
  }
}
.top__footer {
  font-size: 18px;
  line-height: 0.3;
  gap: 98px;
}
.top__footer-info {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  align-items: center;
}
@media (hover: hover) {
  .top__footer-info:hover {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .top__footer-info:active {
    color: var(--color-accent);
  }
}
.top__footer-info_right {
  margin-left: auto;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  padding-block: 42px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.header__list {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.header__item {
  font-size: 14px;
  letter-spacing: 0.035em;
  line-height: 1.1428571429;
}

.logo {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.logo__text {
  font-size: 12px;
  letter-spacing: 0.08em;
}

.benefits {
  padding: 120px 0;
}
.benefits__inner {
  max-width: 805px;
  margin-inline: auto;
}
.benefits__item {
  text-align: center;
}
.benefits__item_right {
  padding-left: 65px;
}
.benefits__image {
  margin-bottom: 53px;
}
.benefits__text {
  font-family: var(--third-family);
  font-size: 20px;
  line-height: 1.35;
  font-weight: 300;
}

.apartments__title {
  margin-bottom: 93px;
}
.apartments__cards {
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 30px;
}
@media (max-width: 1023px) {
  .apartments__cards {
    --gridColumns: 1;
  }
}

.card__link {
  position: relative;
  display: block;
  overflow: hidden;
}
@media (hover: hover) {
  .card__link:hover {
    color: var(--color-ligth);
  }
  .card__link:hover::after {
    opacity: 1;
  }
  .card__link:hover .card__image {
    transform: scale(1.1);
    filter: contrast(1.1) brightness(1.2) saturate(1.2);
  }
}
@media (hover: none) {
  .card__link:active {
    color: var(--color-ligth);
  }
  .card__link:active::after {
    opacity: 1;
  }
  .card__link:active .card__image {
    transform: scale(1.1);
    filter: contrast(1.1) brightness(1.2) saturate(1.2);
  }
}
.card__link::before {
  content: "";
  position: absolute;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, var(--color-dark) 100%);
}
.card__link::after {
  content: "";
  position: absolute;
  z-index: 6;
  left: 12px;
  top: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px double rgba(255, 255, 255, 0.4);
  opacity: 0;
  transition: opacity var(--transition-duration);
}
.card__title {
  position: absolute;
  z-index: 9;
  left: 50px;
  right: 20px;
  bottom: 46px;
}
.card__image {
  position: relative;
  width: 100%;
  z-index: 4;
  transition: all var(--transition-duration);
}

.cta {
  position: relative;
  padding: 180px 0;
  background: linear-gradient(180deg, var(--color-dark) 10.42%, rgba(36, 43, 51, 0) 50.52%, var(--color-dark) 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9));
}
.cta__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.cta__title {
  margin-bottom: 17px;
  line-height: 1.35;
}
.cta__inner {
  gap: 30px;
}
.cta__text {
  font-size: 16px;
  line-height: 1.5;
}
.cta__text :not(:last-child) {
  margin-bottom: 1em;
}
.cta__form {
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 35px;
  align-items: center;
}

.form__input {
  min-height: 50px;
  padding: 12px;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  color: var(--color-ligth);
  font-size: 14px;
  line-height: 1.93;
  transition: background var(--transition-duration);
}
.form__input::-moz-placeholder {
  color: var(--color-placeholder);
}
.form__input::placeholder {
  color: var(--color-placeholder);
}
.form__input:focus {
  background: rgba(255, 255, 255, 0.25);
}
.form__button {
  min-height: 50px;
  padding: 12px;
  text-align: center;
  background: var(--color-accent);
  color: var(--color-ligth);
  font-size: 16px;
  font-weight: 700;
  transition: background var(--transition-duration);
}
@media (hover: hover) {
  .form__button:hover {
    background: #eecf65;
  }
}
@media (hover: none) {
  .form__button:active {
    background: #eecf65;
  }
}
.form__privacy {
  color: var(--color-privacy);
  font-size: 13px;
  line-height: 1.23;
  text-align: center;
}

.video {
  text-align: center;
}
.video__link {
  display: inline-block;
  position: relative;
}
.video__link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(36, 43, 51, 0.8);
  transition: background var(--transition-duration);
}
@media (hover: hover) {
  .video__link:hover::before {
    background: rgba(36, 43, 51, 0.6);
  }
  .video__link:hover .video__icon {
    transform: translate(-50%, -50%) scale(1.2);
    filter: saturate(1.5);
  }
}
@media (hover: none) {
  .video__link:active::before {
    background: rgba(36, 43, 51, 0.6);
  }
  .video__link:active .video__icon {
    transform: translate(-50%, -50%) scale(1.2);
    filter: saturate(1.5);
  }
}
.video__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all var(--transition-duration);
}

.map {
  padding: 180px 0;
}
.map__title {
  margin-bottom: 88px;
  line-height: 1.25;
}
.map__map {
  height: 358px;
  background-color: var(--color-placeholder);
}

.feedBack {
  padding-bottom: 180px;
}
.feedBack__title {
  margin-bottom: 38px;
  line-height: 1.4;
}
.feedBack__form {
  gap: 30px;
  align-items: center;
}

.footer {
  padding-top: 70px;
  padding-bottom: 45px;
}
.footer__inner {
  gap: 30px;
}
.footer__menu > *:not(:last-child) {
  margin-bottom: 20px;
}
.footer__list > *:not(:last-child) {
  margin-bottom: 15px;
}
.footer__item {
  font-size: 14px;
  letter-spacing: 0.05em;
  line-height: 1.1428571429;
}
.footer__link_accent {
  font-weight: 700;
  color: var(--color-accent);
}
.footer__socials {
  display: flex;
  gap: 22px;
  align-items: center;
}/*# sourceMappingURL=styles.css.map */