.footer {
    padding-top: 70px;
    padding-bottom: 45px;

    @include tablet{
        padding-top: 40px;
        padding-bottom: 30px;
    }
    
    &__inner{
        gap: 40px 30px;

        @include tablet{
            --gridColumns: 2;
        }

        @include mobile{
            --gridColumns: 1;
        }
    }

    &__menu{
        & >*:not(:last-child){
            margin-bottom: 20px;
        }

        @include mobile{
            text-align: center;
        }
    }

    &__list{
        & >*:not(:last-child){
            margin-bottom: 15px;
        }
    }

    &__item {
        font-size: 14px;
        letter-spacing: 0.05em;
        line-height: calc(16 / 14);
    }

    &__link_accent{
        font-weight: 700;
        color: var(--color-accent);
    }

    &__socials{
        display: flex;
        gap: 22px;
        align-items: center;

        @include mobile{
            display: inline-flex;
            margin: 0 auto;
        }
    }
}
