.form{
    &__input{
        min-height: 50px;
        padding: 12px;
        text-align: center;
        background: rgba(255, 255, 255, 0.2);
        color: var(--color-ligth);
        font-size: 14px;
        line-height: 1.93;

        &::placeholder{
            color: var(--color-placeholder);
            font-size: 14px;
            font-weight: 400;
            line-height: 1.93;
        }
    }

    &__button{
        min-height: 50px;
        padding: 12px;
        text-align: center;
        background: var(--color-accent);
        color: var(--color-ligth);
        font-size: 16px;
        font-weight: 700;
    }

    &__privacy{
        color: var(--color-privacy);
        font-size: 13px;
        line-height: 1.23;
        text-align: center;
    }
}