.video {
    text-align: center;
    position: relative;

    &::after{
        @include decorNumber;
        
        content: 'IV';
        left: calc(50% + 555px);
        translate: -50% 0;
        line-height: 1.52;
    }

    &__link {
        display: inline-block;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(36, 43, 51, 0.8);
            transition: background var(--transition-duration);
        }

        @include hover {
            &::before {
                background: rgba(36, 43, 51, 0.6);
            }

            .video__icon {
                transform: translate(-50%, -50%) scale(1.2);
                filter: saturate(1.5);
            }
        }
    }

    &__icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all var(--transition-duration);

        @include mobile{
            width: 80px;
            height: 80px;
        }

        @include mobile-s{
            width: 60px;
            height: 60px;
        }
    }

    &__img{
        width: 100%;
        height: auto;
    }
}
