html {
    scroll-behavior: smooth;
    // scroll-padding-top: 100px;
}

body {
    @include adaptive-font(16, 14);

    font-family: var(--base-family);
    font-weight: 400;
    line-height: calc(24 / 16);

    background-color: var(--color-dark);
    color: var(--color-ligth);
}

a,
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    @include hover {
        color: var(--color-accent);
    }
}

h1,
.h1 {
    @include adaptive-font(43.5, 30);

    font-family: var(--second-family);
    color: var(--color-accent);
    line-height: calc(64 / 48);
}
h2,
.h2 {
    @include adaptive-font(34, 28);

    font-family: var(--second-family);
    color: var(--color-accent);
    font-weight: 700;
    line-height: 1;
}
h3,
.h3 {
    @include adaptive-font(22.5, 18);
    font-weight: 400;
    line-height: 1;
}
h4,
.h4 {
    @include adaptive-font(20, 18);
}

.wrapper {
    min-height: 100%;
    // * {
    //     outline: 2px solid green !important;
    // }
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

.main {
    flex: 1 1 auto;
}

.ibg {
    position: relative;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

.visually-hidden {
    @include visually-hidden;
}

.hidden-mobile {
    @include mobile {
        display: none !important;
    }
}

.visible-mobile {
    @include mobile-above {
        display: none !important;
    }
}

.header__burger {
    position: relative;
    width: 30px;
    height: 18px;

    &-icon,
    &::after,
    &::before {
        position: absolute;
        left: 0;
        width: 100%;
        height: 10%;
        background-color: var(--color-ligth);
        transition: var(--transition-duration);
    }
    &::before {
        content: "";
        top: 0;
    }
    &::after {
        content: "";
        bottom: 0;
    }
    &-icon {
        top: 50%;
        transform: scale(1) translateY(-50%);
    }
}
.header__burger.active{
    .header__burger-icon {
        transform: scale(0) translateY(-50%);
    }
}
.header__burger.active::before{
    top: 50%;
    transform: rotate(-45deg) translateY(-50%);
}
.header__burger.active::after{
    top: 50%;
    transform: rotate(45deg) translateY(-50%);
}
