:root {
    // -------fonts---------
    --base-family: "Raleway", sans-serif;
    --second-family: "Playfair Display", serif;
    --third-family: "Roboto", sans-serif;

    // --------colors--------
    --color-dark: #242b33;
    --color-accent: #d4c17f;
    --color-ligth: #ffffff;
    --coior-footer-bg: #2d343c;
    --color-placeholder: #bebebe;
    --color-privacy: #e7e7e7;

    --container-width: 1110px;
    --container-padding-x: 15px;

    --transition-duration: 0.3s;

    // --border: 1px solid var(--color-dark);
    // --border-radius: 14px;
    // --border-radius-small: 7px;
    // --border-radius-large: 45px;

    // --shadow: 0 5px 0 0 var(--color-dark);

    // --section-padding-y: 70px;

    // --input-height: 59px;
    // --button-height: 68px;

    // @include tablet {
    //     --section-padding-y: 50px;
    // }

    // @include mobile {
    //     --section-padding-y: 30px;
    // }
}
